/***************
 * NAVIGATION *
***************/

.main-nav {
    text-align: right;
    float: right;
    font-size: 125%;
    z-index: 9999;
    margin: 0px;
    right: 10px;
    width: 100%;
}

.main-nav li {
    display: inline-block;    
    text-decoration: none;
    margin: 10px 10px;
}

.main-nav li:last-child {
    margin: 10px 100px 0 10px;
}

.main-nav li a {
    color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #ffffff;
    color: #fff;
}

/***************
 * STICKY NAV *
***************/

.sticky-nav {
    background-color: #fff;
    box-shadow: 0 2px 2px #efefef;
    position: fixed;
    z-index: 9999;
    width: 100%;
    left: 0;
    top: 0;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
    padding-bottom: 12px;
    color: #555;
}

.sticky-nav .main-nav li a:hover,
.sticky-nav .main-nav li a:active {
    border-bottom: 2px solid #000000;
    color: #171717;
}

/***************
 * HEADER *
***************/

header {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    opacity: 1;
}

header:before {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(../images/main_photo.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)), url(../images/main_photo_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    content: "";
    height: 90vh;
    opacity: 0.8;
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.title-header {
    margin: 22% 0 0 2%;
    color: #fff;
}

.intro-header {
    color: #fff;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    opacity: 0;
}

.intro-header:after {
    border-bottom: 1px solid transparent;
}

.title-header h2 a {
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    opacity: 0;
    text-decoration: none;
    color: #fff;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

/*********************
* INTRO SECTION LINKS*
*********************/

.personal-info a:link,
.personal-info a:visited {
    color: rgb(255, 174, 119);
    border-bottom: 1px solid rgb(255, 174, 119);
    transition: color 0.3s, border-bottom 0.3s;
}

.personal-info a:hover,
.personal-info a:active {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.blue-li {
    color: rgb(133, 190, 255);
}

/****************
* INTRO SECTION *
****************/

.section-about {
    font-family: "Courier New", Courier, monospace;
    background-color: rgba(228, 194, 158, 0.235);
}

.top-terminal {
    background-color: #4a4a4a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0;
}

.top-terminal p {
    color: #ffffff;
    margin: 0 auto;
    width: 10%;
    font-size: 75%;
}

.circles {
    float: left;
    margin-left: 12px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    display: inline-block;
}

.dot-1 {
    background-color: #FF605C;
}

.dot-2 {
    background-color: #FFBD44;
}

.dot-3 {
    background-color: #00CA4E;
}

.main-terminal {
    background-color: #302e2e; 
    color: rgb(237, 237, 237); 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    font-size: 80%; 
    padding: 20px 30px 1px;
}

.personal-info {
    list-style: none;
    margin-left: 5px;
}

.personal-info p {
    margin-bottom: 30px;
    text-decoration: none;
    line-height: 145%;
}
.personal-info p:last-child {
    margin-bottom: 0px;
}

/****************
* RESUME SECTION *
****************/

.section-resume {
    background-color: rgb(232, 232, 232);
    position: relative;
    width: 100%;
}

.section-resume h1 {
    width: 100%;
    text-align: center;
}

.resume-box {
    width: 80%;
    margin: 8vh auto;
}

.resume-place {
    font-weight: bold;
}

.resume-experience {
    font-weight: bold;
    font-size: 125%;
}

.resume-description {
    font-family: sans-serif;
    list-style-type: circle;
    margin: 20px 0 0 15px;
    letter-spacing: 1px;
    font-size: 100%;
}

.resume-coursework li {
    list-style-type: circle;
    margin: 0 0 10px 20px;
}

.resume-right-adjust {
    text-align: right;
}

.resume-right-adjust p:last-of-type {
    margin: -15px 0;
}

.skills {
    list-style: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}

.skills li {
    display: inline-block;
    list-style: none;
}

/****************
* COMPANY LOGOS *
****************/

.resume-logos {
    margin-left: -3vw;
    margin-right: 2vw;
    position: relative;
    display: block;
}

.uci {
    position: absolute;
    width: 100%;
    top: 180px;
    left: 0px;
}

.lwa-1,
.lwa-2,
.apple {
    position: absolute;
    margin-left: -5vw;
    width: 150%;
}

.lwa-1 {
    margin-top: 103px;
}

.lwa-2 {
    margin-top: 0px;
}

.apple {
    top: 0px;
}

/****************
   * SKILLS *
****************/

.icon {
    text-align: center;
    padding: 5px;
    margin: 10px 0px;
    font-weight: 300;
    font-size: 90%;
    border-radius: 5px;
}

.code {
    border: 2px solid rgb(123, 208, 254);
}

.tech {
    border: 2px solid rgb(120, 201, 73);
}

/****************
   * PROJECTS *
****************/

.section-projects {
    background-color: #f4f4f4cb;
}

.section-projects .container-fluid {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.section-projects h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.projects-box {
    margin: 10px auto;
}

.projects-desc {
    background-color: rgba(228, 194, 158, 0.235);
    color: #000000;
}

.projects-desc a:link,
.projects-desc a:visited {
    border-bottom: 1px solid rgb(0, 90, 224);
    color: rgb(0, 90, 224);
    transition: color 0.3;
}

.projects-desc a:hover,
.projects-desc a:active {
    border-bottom: 1px solid #60adf5;
    color: #60adf5;
    text-decoration: none;
}

.projects-box p {
    font-size: 90%;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 20px;
}

.big-projects-picture,
.small-projects-picture {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.big-projects-picture {
    background-size: contain;
    width: 100%;
    height: 45vh;
}

.small-projects-picture {
    background-size: contain;
    width: 100%;
    height: 30vh;
}

/***************
   * CONTACT*
***************/

footer {
    background-color: #333333;
    width: 100%;
    margin: 0 auto;
}

footer h1 {
    text-align: center;
    color: #fff;
}

footer h1:after {
    border-bottom: 1px solid #fff;
}

.contact-icons {
    text-align: center;
}

.contact-icons i {
    font-size: 400%;
    margin: 0 20px;
    color: #ffffff;
}
